<header>
  <h1>Dynamic Pages by Apareon</h1>
  <h3>{{titleText}}</h3>
  <a href='/'>Home</a> ||
  <a href='/about'>About</a> ||
  <a href='/help.html'>Help</a>
  <a href='/utils'>Utilities</a>

</header>